@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

    /*Body Section*/
    body {
      font-family: 'Roboto Mono', monospace;
      margin: 0 auto;
      padding: 4em;
      background-image: url(Assets/background.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }

    body::-webkit-scrollbar {
      display: none;
    }

    /*Scroll Indicator Section*/
    .overall {
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
    }

    .container {
      width: 100%;
      height: 10px;
    }
      
    .progress{
      height: 10px;
      background-color: #04AA6D;
      box-shadow: 0 0 10px 1px #04AA6D;
      width: 0%;
    }

    /*Intro Section*/
    .intro-card {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      min-width: 190vh;
      min-height: 85vh;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      background-color: rgba(255, 255, 255, 0.1);
      padding-bottom: 4em;
      border-radius: 10px;
    }

    /*Navigation Section*/
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      min-width: 100%;
    }

    /*Header Section*/
    .header {
      display: flex;
      flex-direction: row;
      color: whitesmoke;
      font-size: medium;
      margin: 0 auto;
    }

    /*Links Section*/
    .imp-links {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
    }

    .imp-links a {
      font-size: medium;
      text-decoration: none;
      color: whitesmoke;
      margin: 0 8px;
      padding: 12px;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    .imp-links a:hover {
      background-color: transparent;
    }

    /*Main Section*/
    .main-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 65vh;
      background-color: transparent;
      -webkit-text-fill-color: whitesmoke;
    }

    .main-section a {
      text-decoration: none;
      color: whitesmoke;
      cursor: context-menu;
    }

    /*Footer Section*/
    .footer-section {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 2em;
    }

    .line {
      min-width: 100%;
      height: 1px;
      margin: 0 20px;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
    }
    
    .social-links {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .social-links a {
      margin: 0 10px;
      text-decoration: none;
      color: whitesmoke;
      padding: 12px;
      font-size: small;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.25);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      transition: all 0.3s ease-in-out;
    }

    .social-links .kaggle {
      padding: 12px 14.8px;
    }

    .social-links .hackerrank {
      padding: 12px 11px;
    }

    .social-links a:hover {
      background-color: transparent;
    }

    /*Skills Section*/
    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      padding-top: 40px;
      max-width: 800px;
      font-size: large;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding-top: 40px;
      min-width: 800px;
    }

    .grid-item {
      width: 180px;
      height: 200px;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }

    .skill-name {
      padding-top: 6px;
    }

    .grid-item img {
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }

    .grid-item:hover {
      background-color: transparent;
    }

    /*Projects Section*/
    .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      max-width: 800px;
      padding-top: 40px;
    }

    .proj-header {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: large;
    }

    .project {
      color: whitesmoke;
      min-width: 800px;
      margin: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background-color: rgba(255, 255, 255, 0.15);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 10px;
    }

    .project:hover {
      background-color: transparent;
    }

    .project-header {
      text-align: center;
      font-size: medium;
    }

    .projects-card {
      display: none;
      padding: 20px;
      margin-top: 10px;
      color: whitesmoke;
      text-align: left;
    }

    .projects-card .link {
      color: whitesmoke;
    }

    .projects-card .link:hover {
      font-weight: bold;
    }

    .project.expanded .projects-card {
      display: block;
    }

    .bi-projects {
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 800px;
      color: whitesmoke;
    }

    .bi-header {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: large;
    }
    
    .bi-project {
      background-color: rgba(255, 255, 255, 0.15);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 10px;
      color: whitesmoke;
      min-width: 800px;
      margin: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .bi-project:hover {
      background-color: transparent;
    }

    .bi-project-header {
      text-align: center;
      font-size: medium;
    }

    .bi-project.expanded .bi-cards {
      display: block;
    }

    .bi-cards {
      display: none;
      overflow-x: auto;
      text-align: left;
      overflow-x: hidden;
      padding: 20px;
      margin-top: 10px;
    }

    .bi-cards a {
      color: whitesmoke;
    }

    .bi-cards a:hover {
      font-weight: bold;
    }

    .bi-projects .bi-cards img {
      max-width: 100%;
      margin: 10px 0;
    }

    /*Notebooks Sections*/
    .notebooks {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 800px;
      padding-top: 40px;
      font-size: large;
    }

    .notebooks-card {
      display: flex;
      flex-direction: column;
      min-width: 800px;
      padding-top: 40px;
    }

    .notebooks-text {
      flex: 1;
      margin: 10px;
      text-align: center;
      background-color: transparent;
      min-width: 800px;
      padding-bottom: 15px;
      background-color: rgba(255, 255, 255, 0);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      font-size: medium;
    }

    .notebooks-text:hover {
      background-color: transparent;
    }

    .notebooks-text a {
      text-decoration: none;
      color: whitesmoke;
    }

    .notebooks-text img {
      width: 150px;
      height: 150px;
      padding: 20px;
    }

    .github-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .github-dev {
      text-decoration: none;
      padding: 12px;
      margin: 10px;
      font-size: medium;
      border-radius: 50px;
      color: whitesmoke;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      transition: all 0.3s ease-in-out;
    }

    .github-dev:hover {
      background-color: transparent;
    }

    /*Certificates Section*/
    .certificates {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      max-width: 800px;
      padding-top: 40px;
    }

    .certificates-header {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: large;
    }

    .certificates-card {
      display: flex;
      min-width: 800px;
    }

    .certificates-img {
      flex: 1;
      margin: 10px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
    }

    .certificates-img img {
      width: 100%;
      height: fit-content;
      border-radius: 10px;
    }

    .certificates-img:hover {
      background-color: transparent;
    }

    /*Achievements Sections*/
    .achievements {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      max-width: 800px;
      padding-top: 40px;
      font-size: large;
    }

    .achievements-card {
      display: flex;
      min-width: 800px;
      padding-top: 40px;
    }

    .achievements-img {
      flex: 1;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 10px;
      padding: 50px;
      margin: 10px;
      text-align: center;
      transition: all 0.3s ease-in-out;
    }

    .achievements-img:hover {
      transform: translateY(12px);
      background-color: transparent;
    }

    .achievements-img img {
      width: 130px;
      height: auto;
    }

    /*LinkedIn Post Section*/
    .linkedin-posts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: whitesmoke;
      padding-top: 40px;
      max-width: 800px;
      padding-bottom: 40px;
    }

    .linkedin-header {
      padding-top: 40px;
      font-size: large;
    }

    .post-container {
      display: flex;
      min-width: 800px;
    }

    .post-button {
      display: flex;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 50px;
      padding: 8px 10px;
      font-size: 26px;
      margin: 20px auto;
      cursor: pointer;
      color: whitesmoke;
      max-width: 800px;
      transition: all 0.3s ease-in-out;
    }

    .post-iframe {
      height: 500px;
      min-width: 800px;
      border-radius: 10px;
    }

    .prev-button:hover,
    .next-button:hover {
      background-color: transparent;
    }

    .follow-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      font-size: medium;
      height: 50px;
      color: whitesmoke;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      margin: 10px auto;
      transition: all 0.3s ease-in-out;
    }

    .follow-button:hover {
      background-color: transparent;
    }

    /*Contact Me Section*/
    .contact {
      min-width: 800px;
      padding-top: 30px;
      background-color: rgba(255, 255, 255, 0);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 10px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .contact-header {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    /*Form Section*/
    #fs-frm {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: medium;
      width: 60%;
    }

    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm fieldset,
    #fs-frm optgroup,
    #fs-frm label,
    #fs-frm #card-element:disabled {
      font-family: 'Roboto Mono', monospace;
      font-size: 100%;
      color: whitesmoke;
      border: none;
      display: block;
      width: 100%;
      padding: 0;
      margin: auto 12px;
    }

    #fs-frm #message {
      width: 100%;
    }

    #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
      font-size: .825rem;
      margin-bottom: .5rem;
      padding-top: .2rem;
      display: flex;
      align-items: baseline;
      color: whitesmoke;
      font-size: medium;
    }
    
    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm #card-element {
      padding: .75em 1rem;
      margin-bottom: 1.5rem;
      color: whitesmoke;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      border-radius: 10px;
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
    }

    #fs-frm input:hover,
    #fs-frm select:hover,
    #fs-frm textarea:hover,
    #fs-frm:hover #card-element:hover {
      background-color: transparent;
    }

    #fs-frm input:focus,
    #fs-frm select:focus,
    #fs-frm textarea:focus {
      outline-style: solid;
      outline-width: thin;
      outline-color: whitesmoke;
      outline-offset: -1px;
    }

    #fs-frm [type="text"],
    #fs-frm [type="email"] {
      width: 100%;
    }

    #fs-frm [type="button"],
    #fs-frm [type="submit"] {
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      width: auto;
      cursor: pointer;
      margin: 0 auto;
      transform: translateX(25px);
      border-radius: 50px;
      font-size: medium;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    #fs-frm [type="button"]:hover,
    #fs-frm [type="submit"]:hover {
      background-color: transparent;
    }

    #fs-frm [type="button"]:focus,
    #fs-frm [type="submit"]:focus {
      outline: none;
    }

    #fs-frm [type="submit"] {
      margin-bottom: 40px;
    }

    #fs-frm select {
      text-transform: none;
    }

    /*Responsive Section*/
    @media (max-width: 1024px) {
      /*Body Section*/
      body {
        margin: 0 auto;
        display: flex;
        padding: 1em;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow-x:hidden;
        scroll-behavior: smooth;
      }
  
      /*Intro Section*/
      .intro-card {
        min-width: 100%;
      }
  
      /*Navigation Section*/
      .navigation {
        display: flex;
        flex-direction: column;
        max-width: 100%;
      }
  
      /*Header Section*/
      .header {
        font-size: small;
      }
  
      /*Links Section*/
      .imp-links {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 60%;
      }
  
      .imp-links a {
        display: flex;
        flex-direction: column;
        margin: 3px;
        font-size: medium;
        padding: 9px;
        border-radius: 50px;
      }

      .text-hide {
        display: none;
      }
  
      /*Main Section*/
      .main-section {
        font-size: xx-small;
        min-height: 65vh;
      }
  
      /*Footer Section*/
      .line {
        display: none;
      }

      .social-links a {
        font-size: small;
        padding: 11px;
      }
  
      .social-links .kaggle {
        padding: 11px 13.6px;
      }

      .social-links .hackerrank {
        padding: 11px 10px;
      }

      /* Skills Section */
      .skills {
        font-size: small;
        width: 50%;
        padding: 0;
      }

      .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .grid-item {
        position: relative;
      }
    
      .skill-name {
        position: absolute;
        top: 0;
        right: 0;
        color: whitesmoke;
        padding: 22px 10px;
        font-size: large;
        width: auto;
      }

      .grid-item {
        width: 200px;
        height: 70px;
      }
      
      .grid-item img {
        width: 60px;
        height: 60px;
        margin-right: 130px;
      }

      /*Projects Section*/
      .projects {
        width: 92%;
        max-width: auto;
      }

      .project {
        width: 100%;
        min-width: auto;
        font-size: small;
      }

      .proj-header {
        font-size: small;
      }

      .projects-card {
        display: none;
        padding: 20px;
        margin-top: 10px;
      }

      .github-buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .bi-project-header, .project-header {
        font-size: small;
      }

      .bi-projects {
        width: 100%;
        max-width: auto;
      }
    
      .bi-project {
        min-width: auto;
        width: 100%;
      }

      .bi-header {
        font-size: small;
      }

      .bi-cards {
        font-size: small;
      }

      /*Notebooks Section*/
      .notebooks {
        max-width: 100%;
        font-size: small;
      }

      .notebooks-card {
        min-width: 100%;
        padding: 10px;
      }

      .notebooks-text {
        min-width: 90%;
        font-size: smaller;
      }

      .notebooks-text img {
        width: 25%;
        height: 25%;
      }

      .github-dev {
        font-size: small;
      }

      /*Certificates Section*/
      .certificates {
        max-width: 100%;
        padding: 0px;
        font-size: small;
      }

      .certificates-header {
        font-size: small;
      }

      .certificates-card {
        min-width: 100%;
      }

      .certificates-img {
        margin: 5px;
        padding: 6px;
      }

      .certificates-img img {
        width: 100%;
        height: auto;
      }

      /*Achievements Section*/
      .achievements {
        max-width: 100%;
        padding: 0px;
        font-size: small;
      }

      .achievements-card {
        min-width: 100%;
        padding: 10px;
      }

      .achievements-img {
        padding: 15px;
        max-width: 100%;
      }

      .achievements-img img {
        height: auto;
        width: 100%;
      }

      /*LinkedIn Post Section*/
      .linkedin-posts {
        max-width: 100%;
      }

      .linkedin-header {
        font-size: small;
      }

      .post-button {
        max-width: 100%;
      }

      .post-container {
        min-width: 100%;
      }

      .post-iframe {
        min-width: 100%;
      }

      .post-button {
        font-size: 24px;
        margin: 20px auto;
      }

      .follow-button {
        font-weight: bold;
        height: 50px;
        margin: 10px auto;
        width: 100%;
      }

      /*Contact Me Section*/
      .contact {
        min-width: 100%;
        justify-content: center;
        align-items: center;
      }

      .contact-header {
        font-size: small;
      }

      /*Form Section*/
      #fs-frm {
        font-size: small;
        padding: 0.1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-25px);
        width: 60%;
      }

      #fs-frm label,
      #fs-frm legend,
      #fs-frm ::placeholder {
        font-size: small;
      }

      #fs-frm [type="text"],
      #fs-frm [type="email"] {
        width: 100%;
      }

      #fs-frm [type="button"],
      #fs-frm [type="submit"] {
        font-size: small;
        width: auto;
        transform: translateX(25px);
      }
  
      }
